body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: NunitoSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.header {
  margin: 10px 0;
}

.second-container {
  padding: 40px 0;
}

/* MENU */

ul#menu-main-menu {
  margin: 0;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  /*color: #545454;*/
  text-transform: uppercase;
}

#site-navigation {
  margin-top: 15px;
  text-align: center;
}

ul#menu-main-menu li {
  float: left;
}

ul#menu-main-menu li a {
  padding: 10px 15px;
  vertical-align: middle;
  margin: 0px 25px;
  color: #545454;
  text-decoration: none;
}

ul#menu-main-menu li a:hover, ul#menu-main-menu li.active a {
  border-radius: 5px;
  background-color: #1a70a6;
  color: #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

ul#menu-main-menu .active {
  color: #1a70a6;
}

/* end menu */

.bg-background, .bg-caption {
  padding: 0;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
}

.bg-caption {
  position: relative;
}

.bg-caption-box {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 15%;
}

.bg-caption-box h4 {
  font-size: 36px;
  text-align: center;
  color: #1a70a6;
}

.bg-caption-box .caption-explain {
  margin-top: 50px;
  font-size: 25px;
  color: #757575;
  text-align: center;
}

.bg-separate {
  width: 10%;
  margin: 0 auto;
  border-bottom: 2px solid #545454;
}

.vestibulum, .donec, .platform {
  width: 70%;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  color: #545454;
}

.vestibulum .product {
  text-align: center;
}

.donec {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.donec article {
  font-size: 18px;
  color: #757575;
}

.donec input, .platform input {
  margin-top: 30px;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #1a70a6;
}

.habitasse.bg-image {
  height: 650px;
}

.habitasse-caption {
  width: 25%;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  right: 10%;
  top: 35%;
}

.platform p:first-child {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #545454;
}

.platform p:last-child {
  font-size: 16px;
  text-align: center;
  color: #757575;
}

.solution img {
  width: 100%;
  height: 300px;
}

.solution h4 {
  font-size: 20px;
  color: #1a70a6;
  text-align: center;
}

.havequestion {
  width: 50%;
  margin: 50px auto;
}

.havequestion article {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

.facilisis h3 {
  font-size: 36px;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.facilisis article {
  font-size: 16px;
  text-align: left;
  color: #545454;
}

/*FOOTER*/
.site-footer {
  margin-top: 40px;
}

.site-map {
  padding: 50px 0;
  background-color: #fafafa;
}
.site-map h3 {
  font-family: HelveticaNeue;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #37474f;
}

.sitemap-navigation {
  position: relative;
  left: 40%;
  text-align: left;
}

.sitemap-navigation .nav-menu {
  padding: 0;
  list-style-type: none;
}

.sitemap-navigation .nav-menu a {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #37474f;
}

.site-info {
  padding: 20px 0;
}

.footer-navigation ul {
  margin-top: 10px;
  float: left;
  list-style-type: none;
}

.footer-navigation ul li {
  float: left;
}

.footer-navigation ul li a {
  padding: 0 15px;
  border-right: 1px solid #37474f;
  font-size: 14px;
  color: #37474f;
}

.footer-navigation ul li:last-child a {
  border: none;
}

#menu-footer {
  position: relative;
  left: 20%;
}

.cnss-social-icon li a {
  padding: 2px !important;
}

ul.cnss-social-icon {
  margin-top: 5px;
}
/*END FOOTER*/

/*PAGE*/
#primary {
  padding: 60px 0;
}

#primary #content-page {
  width: 70%;
  margin: 0 auto;
}

#primary #content-page .title {
  font-size: 24px;
}

#primary #content-page .infor-title {
  font-size: 18px;
  color: #545454;
}

#primary #content-page .infor-detail {
  font-size: 16px;
  color: #757575;
}

#primary #content-page .contact-form label {
  margin-bottom: 2px;
  font-size: 12px;
  color: #545454;
}

#primary #content-page .contact-form input[type='text'],
#primary #content-page .contact-form input[type='email'],
#primary #content-page .contact-form input[type='tel'] {
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
}

#primary #content-page .contact-form textarea {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
}

#primary #content-page .contact-form .seperate {
  margin-top: 10px;
}

#primary #content-page .contact-form #submit-contact {
  margin: 20px 15px;
  text-transform: uppercase;
  padding: 8px 100px;
  border-radius: 4px;
  background-color: #1a70a6;
}

#primary #content-page .maps h2 {
  font-size: 36px;
  color: #545454;
}

#primary #content-page .maps iframe {
  width: 100%;
  height: 450px;
}

/*END PAGE*/
.left {
  float: left;
}

.right {
  float: right;
}

.half-width {
  width: 50%;
}

.fullwidth{
  width: 100%;
}

.oval {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  box-shadow: 0 1px 4px 0 rgba(55, 71, 79, 0.12);
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: #1565c0;
  text-align: center;
}

.txtcenter {
  text-align: center;
}

.disable {
  color: gray;
}

.mt25 {
  margin-top: 25px;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pl40 {
  padding-left: 40px;
}

.pd60 {
  padding: 60px 0;
}

@font-face {
  font-family: 'NunitoSans';
  src: url('/webfonts/ProximaNovaA-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}