body {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: ProximaNovaA-Regular;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.row {
  margin: 0;
  padding: 0;
}

.header {
  margin: 10px 0;
}

.second-container {
  padding: 40px 0;
}

/* MENU */

ul#menu-main-menu {
  margin: 0;
  list-style-type: none;
  text-align: center;
  display: inline-block;
  /*color: #545454;*/
  text-transform: uppercase;
}

#site-navigation {
  margin-top: 15px;
  text-align: center;
}

ul#menu-main-menu li {
  float: left;
}

ul#menu-main-menu li a {
  padding: 10px 15px;
  vertical-align: middle;
  margin: 0px 25px;
  color: #545454;
  text-decoration: none;
}

ul#menu-main-menu li a:hover, ul#menu-main-menu li.active a {
  border-radius: 5px;
  background-color: #1a70a6;
  color: #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
}

ul#menu-main-menu .active {
  color: #1a70a6;
}

/* end menu */

.bg-background, .bg-caption {
  padding: 0;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
}

.bg-caption {
  position: relative;
}

.bg-caption-box {
  position: absolute;
  width: 50%;
  top: 30%;
  left: 15%;
}

.bg-caption-box h4 {
  font-size: 36px;
  text-align: center;
  color: #1a70a6;
}

.bg-caption-box .caption-explain {
  margin-top: 50px;
  font-size: 25px;
  color: #757575;
  text-align: center;
}

.bg-separate {
  width: 10%;
  margin: 0 auto;
  border-bottom: 2px solid #545454;
}

.vestibulum, .donec, .platform {
  width: 70%;
  margin: 0 auto;
}

h2 {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
  color: #545454;
}

.vestibulum .product {
  text-align: center;
}

.vestibulum .product img {
  height: 200px;
}

.donec {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.donec article {
  font-size: 18px;
  color: #757575;
}

.donec input, .platform input {
  margin-top: 30px;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 4px;
  background-color: #1a70a6;
}

.habitasse.bg-image {
  height: 650px;
}

.habitasse-caption {
  width: 25%;
  font-size: 40px;
  color: #ffffff;
  position: absolute;
  right: 10%;
  top: 35%;
}

.platform p:first-child {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #545454;
}

.platform p:last-child {
  font-size: 16px;
  text-align: center;
  color: #757575;
}

.platform img {
  height: 130px;
}

.platform p {
  height: 50px;
}

.solution img {
  width: 100%;
  height: 500px;
}

.solution h4 {
  font-size: 20px;
  color: #1a70a6;
  text-align: center;
}

.solution p {
  color: #545454;
}

.havequestion {
  width: 50%;
  margin: 50px auto;
}

.havequestion article {
  font-size: 36px;
  text-align: center;
  color: #ffffff;
}

.havequestion a {
  text-transform: capitalize;
  color: red;
  font-weight: bold;
  background-color: #ffffff;
  margin-top: 10px;
  font-size: 20px;
}

.havequestion a:hover {
  color: #FFFFFF;
  background-color: #218838;
}

.facilisis h3 {
  font-size: 36px;
  font-weight: bold;
  color: grey;
  text-align: center;
}

.facilisis article {
  font-size: 16px;
  text-align: left;
  color: #545454;
}

.facilisis .find-more {
  margin-top: 40px;
}

.facilisis .find-more a {
  background-color: #FFFFFF;
  color: red;
  text-transform: capitalize;
  font-weight: bold;
}

.facilisis .find-more a:hover {
  color: #fff;
  background-color: #218838;
}

/*FOOTER*/
.site-footer {
  margin-top: 40px;
}

.site-map {
  padding: 50px 0;
  background-color: #fafafa;
}
.site-map h3 {
  font-family: HelveticaNeue;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #37474f;
}

.sitemap-navigation {
  position: relative;
  left: 40%;
  text-align: left;
}

.sitemap-navigation .nav-menu {
  padding: 0;
  list-style-type: none;
}

.sitemap-navigation .nav-menu a {
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  color: #37474f;
}

.site-info {
  padding: 20px 0;
  width: 70%;
  margin: 0 auto;
}

.footer-navigation ul {
  margin-top: 10px;
  float: left;
  list-style-type: none;
}

.footer-navigation ul li {
  float: left;
}

.footer-navigation ul li a {
  padding: 0 15px;
  border-right: 1px solid #37474f;
  font-size: 14px;
  color: #37474f;
}

.footer-navigation ul li:last-child a {
  border: none;
}

#menu-footer {
  position: relative;
  left: 20%;
}

.cnss-social-icon li a {
  padding: 2px !important;
}

ul.cnss-social-icon {
  margin-top: 5px;
}
/*END FOOTER*/

/*PAGE*/
#primary {
  padding: 60px 0;
}

#primary #content-page {
  width: 70%;
  margin: 0 auto;
}

#primary #content-page .title {
  font-size: 24px;
}

#primary #content-page .infor-title {
  font-size: 18px;
  color: #545454;
}

#primary #content-page .infor-detail {
  font-size: 16px;
  color: #757575;
}

#primary #content-page .contact-form label {
  margin-bottom: 2px;
  font-size: 12px;
  color: #545454;
}

#primary #content-page .contact-form input[type='text'],
#primary #content-page .contact-form input[type='email'],
#primary #content-page .contact-form input[type='tel'] {
  padding: 5px;
  width: 300px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
}

#primary #content-page .contact-form textarea {
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #eeeeee;
}

#primary #content-page .contact-form .seperate {
  margin-top: 10px;
}

#primary #content-page .contact-form #submit-contact {
  margin: 20px 15px;
  text-transform: uppercase;
  padding: 8px 100px;
  border-radius: 4px;
  background-color: #1a70a6;
}

#primary #content-page .maps h2 {
  font-size: 36px;
  color: #545454;
}

#primary #content-page .maps iframe {
  width: 100%;
  height: 450px;
}

#content-page-product {

}

.video {
  padding: 0;
}

.ytp-large-play-button .ytp-button {
  display: none;
}

.player-box {
  position: relative;
}

.player-box .player-caption {
  position: absolute;
  top: 10%;
  left: 32%;
  font-size: 48px;
  color: #ffffff;
}

.player-box .player-button {
  position: absolute;
  padding: 15px 50px;
  background-color: #ffffff;
  color: #1a70a6;
  top: 45%;
  left: 42%;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.player-box .player-button:hover {
  background-color: #1a70a6;
  color: #FFFFFF;
}


#content-page-product .product-bg {
  position: relative;
}

#content-page-product .product-bg .product-bg-caption {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 30%;
  font-size: 40px;
  text-align: left;
  color: #ffffff;
}

#content-page #show-page article .entry-content h3 {
  font-family: ProximaNovaA-Regular;
  font-size: 36px;
  text-align: center;
  color: #545454;
  margin-bottom: 40px;
}

#content-page #show-page article .entry-content p {
  font-size: 16px;
  text-align: left;
  color: #545454;
}

.product-story h3 {
  padding-left: 15px;
  font-size: 36px;
  color: #37474f;
}

.product-inf-right .feature .box-primary {
  margin: 10px 0;
  padding: 7px 0;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #1a70a6;
  color: #FFFFFF;
}

.product-inf-right p, .product-inf-left p {
  margin: 0;
  text-align: left;
}

.product-inf-right .feature img {
  padding-left: 15px;
}

.product-inf-right .feature span.new::after {
  content: url("./img/28.png");
  position: relative;
  top: 5px;
  left: 5px;
}

.product-inf-left .pro-explaination, .product-inf-right .pro-explaination {
  padding-left: 25px;
}

.product-inf-right img, .product-inf-left img {
  max-width: 500px;
  max-height: 500px;
}

.product-inf-left > img, .product-inf-right > img {
  position: relative;
  left: 25%;
}

.enquiry-link {
  text-align: center;
  padding: 5px 60px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: #1a70a6;
}

.product-inf-right h3, .product-inf-left h3 {
  text-align: left;
}

.product-inf-right .icon, .product-inf-left .icon {
  max-width: 40px;
}

/*END PAGE*/
.left {
  float: left;
}

.right {
  float: right;
}

.half-width {
  width: 50%;
}

.fullwidth{
  width: 100%;
}

.oval {
  width: 45px;
  height: 45px;
  background: #FFFFFF;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
  box-shadow: 0 1px 4px 0 rgba(55, 71, 79, 0.12);
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 45px;
  letter-spacing: normal;
  text-align: center;
  color: #1565c0;
  text-align: center;
}

.txtcenter {
  text-align: center;
}

.disable {
  color: gray;
}

.mt80 {
  margin-top: 80px;
}

.mt25 {
  margin-top: 25px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr20 {
  padding-right: 20px;
}

.pl20 {
  padding-left: 20px;
}

.pr30 {
  padding-right: 30px;
}

.pl30 {
  padding-left: 30px;
}

.pr40 {
  padding-right: 40px;
}

.pl40 {
  padding-left: 40px;
}

.pd60 {
  padding: 60px 0;
}

.nopadding {
  padding: 0;
}

.displaynone {
  display: none;
}

/*
RESPONSIVE
*/

@media screen and (max-width: 1750px) {
  ul#menu-main-menu li a {
    margin: 0px 10px;
    padding: 5px 5px;
  }
}


@media screen and (max-width: 1500px) {
  ul#menu-main-menu li a {
    margin: 0px 7px;
  }

  .bg-caption-box {
    width: 100%;
    top: 20%;
    left: 0;
  }

  .bg-caption-box h4 {
    font-size: 25px;
  }

  .bg-caption-box .caption-explain {
    font-size: 20px;
  }

  .solution iframe {
    height: 200px;
  }
}

@media screen and (max-width: 1620px) {
  #primary #content-page .contact-form input[type='text'],
  #primary #content-page .contact-form input[type='email'],
  #primary #content-page .contact-form input[type='tel'] {
    width: 200px;
  }
}

@media screen and (max-width: 1024px) {
  #main-footer .site-map {
    display: none;
  }

  .wpcf7-form-control-wrap textarea {
    max-width: 100%;
  }

  ul#menu-main-menu li a {
    font-size: 10px;
  }

  .solution iframe {
    height: 150px;
  }

}

@media screen and (max-width: 1240px) {
  h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 768px) {
  #video-player {
    height: 300px;
  }

  .player-button {
    display: none;
  }

}

@media screen and (min-width: 768px) and (max-width: 1240px) {
  .platform input {
    margin-top: 80px;
  }


}

@media screen and (min-width: 600px) and (max-width: 767px) {
  .bg-caption-box {
    width: 100%;
    top: 0;
    left: 0;
  }

  .platform p {
    height: 70px;
  }

  .facilisis h3 {
    font-size: 25px;
  }
}


@media screen and (max-width: 600px) {
  .logo-site {
    text-align: center;
  }

  .second-container {
    padding: 20px 0;
  }

  .bg-caption-box {
    position: inherit;
    top: 0;
  }

  h2 {
    font-size: 25px;
  }

  .vestibulum .product {
    margin-bottom: 10px;
  }

  .habitasse.bg-image {
    height: 200px;
  }

  .bg-image {
    background-size: contain;
    height: 200px;
  }

  .donec {
    width: 100%;
  }

  .habitasse-caption {
    width: 80%;
    font-size: 25px;
  }

  .platform p {
    height: 70px;
  }

  .facilisis h3 {
    font-size: 25px;
  }

  .footer-logo span {
    font-size: 15px;
  }

  #menu-footer {
    left: 10%;
  }

  .cnss-social-icon {
    position: relative;
    top: 55%;
    right: 30%;
  }

  .havequestion {
    width: 80%;
  }

  .havequestion article {
    font-size: 25px;
  }

  .havequestion a {
    font-size: 15px;
  }

  .product-inf-left > img, .product-inf-right > img {
    left: 0;
  }

  .player-box .player-caption {
    left: 10%;
    font-size: 30px;
  }

  .player-box .player-button {
    padding: 15px 30px;
    top: 41%;
    left: 25%;
  }

  .product-story h3 {
    font-size: 25px;
  }

  .pd60 {
    padding: 20px 0;
  }

  #content-page-product .product-bg .product-bg-caption {
    top: 30%;
    width: 80%;
    font-size: 25px;
  }

  .product-inf-right {
    margin-top: 20px;
  }

  .site-footer {
    margin: 0;
  }

  #content-page #show-page article .entry-content h3 {
    font-size: 25px;
  }

  .footer-logo-span {
    text-align: left !important;
  }

  .solution iframe {
    height: 200px;
  }

  .facilisis .find-more {
    margin-top: 20px;
  }


}